*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #0e0e0e;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    z-index: 100;
}

h1 {
    /* color: hsl(208, 100%, 50%); */
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(78,108,139,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url('/assets/dark-gradient.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.background-gradient {
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,108,139,1) 35%, rgba(0,29,55,1) 100%);
    background-size: cover;
    background-position: center;
}

.knewave {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head {
    position: fixed;
    bottom: 50%;
    margin: 0 auto;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-width {
    width: 80%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 1.4rem;
}

.btn {
    padding: 2vmax;
    border: 1px none;
    border-radius: .5rem;
    box-shadow: 5px 5px;
    margin-inline: auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: border-box;
}

.margin-left {
    margin-left: 1rem;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-size {
    font-size: 1rem;
}

.rotate-neg {
    rotate: -5deg;
}

.rotate-pos {
    rotate: 5deg;
}
