*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #0e0e0e;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url('assets/dark-gradient.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }